.monster-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80%;
    max-width: 792px;
    margin: 1rem auto 3rem auto;
    justify-content: flex-start;
    align-content: space-evenly;
    align-items: flex-start;

    @media (max-width: 990px) {
        justify-content: center;
    }

}