.monster-card {

    border: 2px solid black;
    background: #AEBD38;
    border-radius: 5%;
    padding-bottom: 30px;
    width: 240px;
    height: 300px;
    margin: 10px;
    transition: transform .5s;


    &:hover {
        transform: scale(1.1)
    }


    h2,
    p {
        color: #2A3132;
    }



}