.monster-card {

    border: 1px solid black;
    border-radius: 5%;
    flex: 0 0 33.3333%;
    max-width: 20%;
    margin: 5px 5px;



    h2,
    p {
        color: #B5C99A;
        margin: 5px;
    }

}