.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 78px auto;


    .description-container {
        margin-top: 10px;
        border-radius: 1%;
        padding: 10px;

        h2 {
            color: #AEBD38;
        }

        h3 {
            color: #2A3132;
        }

        p {
            text-align: center;
            color: #ffffff;
        }

        .concept-list-container {
            color: #EEE9DA;
            max-width: 35%;
            text-align: left;
            margin: 0 auto 0 auto;
            padding-left: 25px;

            h4 {
                margin-bottom: 0;
                color: #AEBD38;
            }

            ul {
                margin: 10px 0 20px 0;
                padding-left: 20px;
                color: #ffffff;
            }
        }
    }

    .project-link {
        text-align: center;
        text-transform: uppercase;
        margin: 10px auto 30px auto;
        padding: 15px 45px;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
        background-image: linear-gradient(43deg, #68829E 0%, #598234 100%);
        color: #ffffff;
        font-weight: bold;
        display: block;
        transition: .5s;
        opacity: 0.8;

        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 20px white;
            opacity: 1;
        }

    }
}