body {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    text-align: center;
}

h2,
h3,
h4,
p {
    color: #EEE9DA;
}

h1 {
    color: #862B0D;
}